extends layout

block content
  .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        p - Please connect to the local wi-fi named "Re-Vivify Bin"
         
        p - Now fill out the following information for the wi-fi and bin information: 
        
        form#formAddBin(name="addbin",method="post",action="/add-bin")
          |Device ID: 
          input#inputid(type="text", placeholder="Get the ID from Particle.io Dashboard", name="id")
          br
          |Location:  
          input#inputlocation(type="text", placeholder="Type and pick one from the list before submitting", name="location")
          br
          input#inputlat(type="text", name="lat")
          input#inputlng(type="text", name="lng")
          button#btnSubmit(type="submit", style="background-color: #007acc;") Add Bin!


        

        script(src='javascripts/add-bin.js')

        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOTTSJcMkA7x7JzaP0Z7NpPzfl5m6tsu8&libraries=places&callback=initAutocomplete"
        async defer)