extends layout

block content
  h1.
        DATA List
  ul
        each data, i in datalist
            li
                #{data.weight} KG   #{data.time} PM

  h1 ADD DATA
    form#formAddUser(name="adduser",method="post",action="/adddata")
        input#inputWeight(type="text", placeholder="weight", name="weight")
        input#inputTime(type="text", placeholder="time", name="time")
        button#btnSubmit(type="submit") submit
  