extends layout

block content
  .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1(style = "text-align: center;") Textile Recycling Bin Management System
        script(src='javascripts/locations-map.js')
        #map
        
        
        
        h2(style = "text-align: center;")
          Bin Fill %:
          img(src= "/images/pingreen.png") 
          span 90-100% 
          img(src= "/images/pinyellow.png") 
          span 70-90% 
          img(src= "/images/pinred.png")
          span 50-70% 
          img(src= "/images/pinwhite.png")
          span 0-50% 