extends layout

block content
  .container
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1(style = "text-align: center;") 

        table.table
          tr.success
            th location
            th weight
            th Est. % Full
            th Time Logged
            th Last Pickup
            th 
            th
          tr
            td -
            td -
            td -
            td -
            td -
            td
              a.btn.btn-lg.btn-success(href='#', role='button') On Pickup docs
            td
              a.btn.btn-lg.btn-info(href='#', role='button') Bin Settings

        