body {
  background-image: url("../images/pattern1.png");
  /*color: white;*/
}



table, th, td {
    text-align: center;
}

input{
	width: 50%;
}

.loading{
	display: none;
}

#map-info{
	width:15%;
	float: left;
	text-align: center;
	vertical-align: middle;
}

#map{
	height: 500px;
	width:85%;
}

#inputlng , #inputlat{
	display: none;
}

.jumbotron{
	background-color: gray;
	color: white;
	background-image: url("../images/pattern1.png");
	background: rgba(0,0,0,0.5);
}

#nonepickup_tr{
	background-color: #007acc;
}

#pickup_tr{
	background-color: #29a329;
}