body {
  background-image: url("../images/pattern.png");
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

input{
	width: 50%;
}

.loading{
	display: none;
}

#map{
	height: 500px;
}

#inputlng , #inputlat{
	display: none;
}