body {
  background-image: url("../images/pattern1.png");
  /*color: white;*/
}



table, th, td {
    text-align: center;
}

input{
	width: 50%;
	color: black;
}

.loading{
	display: none;
}

#map-info{
	width:15%;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin-left: -5%;
}

#map{
	height: 500px;
	width:90%;
}

#inputlng , #inputlat{
	display: none;
}

.jumbotron{
	background-color: gray;
	color: white;
	background-image: url("../images/pattern1.png");
	background: rgba(0,0,0,0.5);
}

#nonepickup_tr{
	background-color: #007acc;
}

#pickup_tr{
	background-color: #29a329;
}

.btn-success:hover span {display:none}
.btn-success:hover {
	background-color: #d9534f;
	border-color: #d9534f;
}
.btn-success:hover:before {content:"Remove from pickup"}


#pickup-map{
	height: 500px;
}

#panel {
        width: auto;
        background-color: #fff;
        color:black;
        padding-left: 2%;
        margin-right: 55%; 
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
      }